.wrapper{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
  max-height: 450px;
}
.wrapper header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  font-size: 1.3rem;
}
.wrapper header p{
  color: #324d67;
}
.wrapper header p:hover{
  background-color: #f2f2f2;
  padding: 0 1rem;
}
.wrapper header .icons{
  cursor: pointer;
  color: #ccc;
  transition: all 0.3s linear;
}
.wrapper header .icons:hover{
  color: #324d67;
}
.wrapper header .current-date{
  cursor: pointer;
}

.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #324d67;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 700;
  cursor: default;
  color: #324d67;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
  color: #324d67;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #9B59B6;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}
.select-date{
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  top: -200%;
  right: 0;
  left: 0;
  color: #fff;
  padding: 5rem 3rem;
  z-index: 2;
  transition: all 0.4s ease;
  overflow: auto;
}
.select-date.show{
  top: 0;
}
.select-date .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.3rem;
  position: relative;
}
.select-date .header p{
  color: #fff;
  cursor: default;
}
.select-date .header span{
  cursor: pointer;
}
.select-date .header .close-select-date{
  position: absolute;
  top: -3rem;
  right: 0.3rem;
  cursor: pointer;
}
.select-date .months{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  margin-top: 2rem;
}
.select-date .months li button{
  cursor: pointer;
  border: 1px solid #dc3545;
  color: #fff;
  background-color: #dc3545;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  letter-spacing: 0.1rem;
}

